.createNew {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createNewEntry {
  padding: 24px;
  width: 25vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
}

.formRow {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
}
