.createNew {
  display: flex;
  justify-content: center;
  align-items: center;
}

.createNewEntry {
  padding: 24px;
  width: 20vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
  animation: slideUp 0.33s;
}
@keyframes slideUp {
  0% {
    transform: translateY(250%);
  }
  100% {
    transform: translateY(0%);
  }
}

.formRow {
  width: 95%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
}
