.deleteView {
  box-sizing: border-box;
  padding: 8px;
  width: 33vw;
  height: 20vh;
  background: #eee;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 8px;
  animation: slideIn 0.5s;
}
@keyframes slideIn {
  0% {
    transform: translateX(250%);
  }
  100% {
    transform: translateX(0%);
  }
}

.deleteButtons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
