.detailModal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.detailView {
  box-sizing: border-box;
  width: 50%;
  height: 66%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  background: #212121;
  color: #fff;
  animation: dropDown 0.33s;
}
.detailView:focus {
  outline: none;
}
@keyframes dropDown {
  0% {
    scale: (0.25);
    transform: translateY(-250%);
  }
  100% {
    scale: (1);
    transform: translateY(0%);
  }
}

.detailHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.detailRow {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
