.editModal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.editBox {
  box-sizing: border-box;
  width: 50%;
  height: 66%;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;
  background: #eeeeee;
  animation: slideRight 0.25s;
}
.editBox:focus {
  outline: none;
}
@keyframes slideRight {
  0% {
    scale: (0.25);
    transform: translateX(-250%);
  }
  100% {
    scale: (1);
    transform: translateX(0%);
  }
}
