.homePage {
  box-sizing: border-box;
  height: 100vh;
  width: 800px;
  background: #424242;
  padding-top: 64px;
  padding-bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  flex-direction: column;
}

.appbar {
  max-height: 40px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
  margin-right: 24px;
}
