* {
  margin: 0;
}

.mainTile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  height: 48px;
  width: 85%;
  transition: 0.5s;
}
.mainTile:hover {
  cursor: pointer;
  transition: 0.5s;
}

.dateTime {
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
